.container {
display: grid;
padding-top: 60px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.first-person-narrator { grid-area: 1 / 2 / 2 / 3; }

img{
width: 130px;
height: auto;
}

body{
color: aliceblue;
font-family: 'NewRomantics';
letter-spacing: 1.5px;
text-shadow: 0 0 10px lightgreen;
font-size: 16px;
height: 100vh;
background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(5,30,0,1) 100%), url(/cif25/eleven/entry/assets/background.JPG);
background-size: cover;
text-align: center;
}

@font-face {
    font-family: 'NewRomantics'; 
    src: url('/cif25/eleven/entry/assets/ROMANTIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}