
body{
    position: center;
    span {
        background-color: #ffffff;
    }


background-image: url('imgs/IMG_6432-glow.png');
background-position:top; 
background-size: cover;
}

.snowflake{
    filter: brightness(3);
    mask-mode: luminance;
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat941.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat941.png), auto !important;} /* End https://www.cursors-4u.com */

@-webkit-keyframes snowflakes-fall {
                                            0% {
                                                top: -10%
                                            }

                                            100% {
                                                top: 100%
                                            }
                                        }

                                        @-webkit-keyframes snowflakes-shake {

                                            0%,
                                            100% {
                                                -webkit-transform: translateX(0);
                                                transform: translateX(0)
                                            }

                                            50% {
                                                -webkit-transform: translateX(80px);
                                                transform: translateX(80px)
                                            }
                                        }

                                        @keyframes snowflakes-fall {
                                            0% {
                                                top: -40%
                                            }

                                            100% {
                                                top: 100%
                                            }
                                        }

                                        @keyframes snowflakes-shake {

                                            0%,
                                            100% {
                                                transform: translateX(0)
                                            }

                                            50% {
                                                transform: translateX(80px)
                                            }
                                        }

                                        .snowflake {
                                            position: fixed;
                                            top: -40%;
                                            z-index: 9999;
                                            -webkit-user-select: none;
                                            -moz-user-select: none;
                                            -ms-user-select: none;
                                            user-select: none;
                                            cursor: default;
                                            -webkit-animation-name: snowflakes-fall, snowflakes-shake;
                                            -webkit-animation-duration: 10s, 3s;
                                            -webkit-animation-timing-function: linear, ease-in-out;
                                            -webkit-animation-iteration-count: infinite, infinite;
                                            -webkit-animation-play-state: running, running;
                                            animation-name: snowflakes-fall, snowflakes-shake;
                                            animation-duration: 10s, 3s;
                                            animation-timing-function: linear, ease-in-out;
                                            animation-iteration-count: infinite, infinite;
                                            animation-play-state: running, running;

                                        }

                                        .snowflake:nth-of-type(0) {
                                            left: 0%;
                                            -webkit-animation-delay: 0s, 0s;
                                            animation-delay: 0s, 0s
                                        }

                                        .snowflake:nth-of-type(1) {
                                            left: -150%;
                                            -webkit-animation-delay: 1s, 1s;
                                            animation-delay: 1s, 1s
                                        }

                                        .snowflake:nth-of-type(2) {
                                            left: -110%;
                                            -webkit-animation-delay: 6s, .5s;
                                            animation-delay: 6s, .5s
                                        }

                                        .snowflake:nth-of-type(3) {
                                            left: 65%;
                                            -webkit-animation-delay: 4s, 2s;
                                            animation-delay: 4s, 2s
                                        }

                                        .snowflake:nth-of-type(4) {
                                            left: -140%;
                                            -webkit-animation-delay: 2s, 2s;
                                            animation-delay: 2s, 2s
                                        }

                                        .snowflake:nth-of-type(5) {
                                            left: 50%;
                                            -webkit-animation-delay: 8s, 3s;
                                            animation-delay: 8s, 3s
                                        }

                                        .snowflake:nth-of-type(6) {
                                            left: -40%;
                                            -webkit-animation-delay: 6s, 2s;
                                            animation-delay: 6s, 2s
                                        }

                                        .snowflake:nth-of-type(7) {
                                            left: -20%;
                                            -webkit-animation-delay: 2.5s, 1s;
                                            animation-delay: 2.5s, 1s
                                        }

                                        .snowflake:nth-of-type( 8 ) {
                                            left: 80%;
                                            -webkit-animation-delay: 1s, 0s;
                                            animation-delay: 1s, 0s
                                        }

                                        .snowflake:nth-of-type(9) {
                                            left: 90%;
                                            -webkit-animation-delay: 3s, 1.5s;
                                            animation-delay: 3s, 1.5s
                                        }

                                        .snowflake:nth-of-type(10) {
                                            left: 25%;
                                            -webkit-animation-delay: 2s, 0s;
                                            animation-delay: 2s, 0s
                                        }

                                        .snowflake:nth-of-type(11) {
                                            right: -55%;
                                            -webkit-animation-delay: 4s, 2.5s;
                                            animation-delay: 4s, 2.5s
                                        }