.container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(5, 20%);
  height: 100vh;
}

.tape-gif {
  grid-row: 2 / span 2;
  place-items: center;
}

.tape-gif img {
filter: sepia(0.5);
  max-width: 300px;
  height: auto;
}
body{
    background-image: url("/cif25/six/src/room.png");
    background-size: cover;
}