.container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: repeat(5, 20%);
  height: 100vh;
}

.tape-gif {
  grid-row: 2 / span 2;
  place-items: center;
}

.tape-gif img {
  max-width: 300px;
  height: auto;
}

.audio-controls {
transform: scale(0.75);  
mix-blend-mode: multiply;
  grid-row: 4;
  display: grid;
  margin-top: -200px;
}
body{
    background-image: url("/cif25/six/src/room.png");
    background-size: cover;
    backdrop-filter: hue-rotate(150deg);
    backdrop-filter: blur (15px);
}
