body{

background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%), url(/seven/assets/background-2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
color: burlywood;
text-shadow: 0 0 10px orange ;

.container {
padding-top: 70px;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(7, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
max-height: 20vh;
}

a:link {
  color: burlywood; 
}

.first-person-narrator { grid-area: 1 / 2 / 2 / 3; }
.third-person-narrator { grid-area: 2 / 4 / 3 / 5;
    font-style: italic;
    text-align: right; }
.first-person-narrator-1 { grid-area: 3 / 2 / 4 / 3; }
.third-person-narrator-1 { grid-area: 4 / 4 / 5 / 5; 
    font-style: italic;
text-align: right; }
.first-person-narrator-2 { grid-area: 5 / 2 / 6 / 3; }
.story { grid-area: 6 / 2 / 7 / 5; 
    padding-top: 100px;
    text-align: left;
    line-height: 1.2;
    text-indent: 30px;
padding-bottom: 70px;
margin: 50px; }
.exit-ticket { grid-area: 7 / 4 / 8 / 5;
    font-style: italic;
    text-align: right; 
padding-bottom: 200px; }

}

.music-box{
width: 200px; 
height: 200px; 
text-indent: -9999px;
overflow: hidden;
white-space: nowrap;
border: none;
background: none;
padding: 0;
cursor: pointer;
background-image: url('/cif25/seven/assets/music-box.gif'); 
background-size: contain; 
background-repeat: no-repeat;
background-position: center;
filter: sepia(400);
}

.story{
    text-align: left;
        line-height: 1.2;
    text-indent: 30px;
}

.story-header{
text-align: center;
}

.third-person-narrator-story{
    font-style: italic;
}

span {
    color: burlywood;
    text-shadow: none;
    background-color: burlywood;
    }

h1{
font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

@media screen and (max-width: 992px) {
  .container {
    grid-column: 1fr;
  }
}
